<!--  there is no forrm tag since we are using a cntrolValueAccessor -->

<div [formGroup]="form">
  <!-- Firstname  -->
  <ng-container *ngIf="isProfile">
<!--  peradventure a n eed for extending form input field  -->
</ng-container>
<!-- email -->
<ion-item>
      <!-- <ion-label for="email">Email</ion-label> -->
      <ion-input formControlName="email" type="email" id="email" placeholder="Email"></ion-input>
</ion-item>
      <div
        *ngIf="emailControl.touched && emailControl.hasError('required')"
        class="error"
      >
        email is required
      </div>
  
</div>
